@import "./shared/fonts";
//components
@import "./components/header";
@import "./components/footer";
//pages
@import "./index";
@import "./portfolios";
html,
body {
 height: 100%;
 width: 100%;
 font-family: "Montserrat", "Helvetica" !important;
}
.absolute {
 position: absolute;
}
.base-page {
 padding: 150px 0;
 height: 150vh;
 color: black;
 background-color: #ecedee;
 .page-header-title {
  font-weight: bold;
  display: inline-block;
 }
}
.cusstomclassHeader {
 color: rgb(255, 0, 191);
}
.Clickable {
 cursor: pointer;
}
.self-typed {
 font-size: 31px;
 color: wheat;
 font-weight: bold;
 letter-spacing: 2px;
}
